@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');


*{ 
    margin: 0;
    padding: 0;
    
}


.left{background-color: #A9A9A9;
    font-size: 30px;
    align-items: center;
    font-family: 'PT Serif', serif;
    height: 100%;width: 25%;
}

.left nav{
    padding: 75px;
}   

.container{
    display: flex;
}
.left nav li{
    list-style: none;
    padding: 33px;
}
.right{
    height: 100%;
    width: 75%;
}   
.image2{
    height: 100px;
}